<article class="media">
<div class="media-left is-paddingless">
    <div class="box">
<%=iusr.name%><%= usr.name%><%=iusr.sama%><br>
<% if(sar){ %>
<br>
<% if(sum){ %>
sum:
<%= Math.round(sum) %><br> 
tax:<%= Math.round(sum*.08) %><br> 
tot:<%= Math.round(sum*1.08+650) %><br> 

<% var tsum= Math.round(sum*1.08+650) %><br> 
<% } else { %>no sum<% } %>

<% for (let i=0;i<sar.length;i++){ %>
<%=shop.tit%>:
<%= sar[i].name%><br>
<%=shop.sku%>:
<%= sar[i].sku %><br>
<%=shop.pri%>:
<%= sar[i].pri%><br>
<%=shop.unit%>:
<%= sar[i].uni%><br>
<% } %>
<% } else { %>no sar<% } %>
<br>
<% if(adr){ %>
<%=iusr.email %><%= adr.email%><br>
<%= adr.phn%><br>
<%= adr.ln1%><br>
<%= adr.city%><br>
<%= adr.sta%><br>
<%= adr.zip%><br>
<% } else { %>no adr<% } %>
    </div>
    </div>

<div class="media-right has-background-ali p-10">
<p class="pa1">
Paidy決済をご希望の方は下記ボタンを押してください。<br>
Paidyのページが表示されますので、
「お支払い手続きへ」をクリック後、<br>
Paidyのアカウントにてログインし、お手続きください。</p><br>

<button class="button is-danger" id="paidy-checkout-button" onclick="paidyPay()">Paidy決済</button>
</div>

</article>

<script type="text/javascript" src="https://apps.paidy.com/"></script>
<script type="text/javascript" src="js/aid"></script>


