<p class="p-10 has-t-cen bkg-mis"><%=shop.fav%></p>

<br>
<% if(usr) { %>
welcome &nbsp;<%= usr.name%> &nbsp;<%=iusr.san%><br>


<form method="post" action="log-out"><br>
<button class="button" type="submit">log out</button>
</form><br>

<% if(mer){ %>

<div class="row">
<% if(mer[0]!=undefined){ %>
<% for (var i=0;i<mer.length;i++){%>
<div class="col bkg-ali">
    <img src="img/cd/png/<%= mer[i].sku%>.png"<br><br>
<%= mer[i].name%><br>
<%= mer[i].sku%><br>

</div>
<%} %><!-- for-->
<%}else{ %><br><p class="p-10 bkg-ali">arr 0</p><%} %>
</div>
<%}else{ %><!-- if-->
no mer
<%} %>
<%} else {%><% include ../log/in%><%} %>
